## Importing libraries

In [175]:
import pandas as pd
import numpy as np
from datetime import timedelta

In [176]:
df=pd.read_csv("TCS.csv")

# Avoid repetition

In [177]:
df=df[df["Series"]=="EQ"]
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,TCS,EQ,15-May-2017,2360.65,2375.1,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39
1,TCS,EQ,16-May-2017,2365.10,2380.0,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84
2,TCS,EQ,17-May-2017,2429.15,2433.5,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74
3,TCS,EQ,18-May-2017,2455.35,2450.0,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20
4,TCS,EQ,19-May-2017,2536.20,2536.2,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94

In [178]:
df.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
493,TCS,EQ,07-May-2019,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31
494,TCS,EQ,08-May-2019,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83
495,TCS,EQ,09-May-2019,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27
496,TCS,EQ,10-May-2019,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81
497,TCS,EQ,13-May-2019,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80

In [179]:
df["Date"]=pd.to_datetime(df["Date"])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 494 entries, 0 to 497
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Symbol                  494 non-null    object
 1   Series                  494 non-null    object
 2   Date                    494 non-null    datetime64[ns]
 3   Prev Close              494 non-null    float64
 4   Open Price              494 non-null    float64
 5   High Price              494 non-null    float64
 6   Low Price               494 non-null    float64
 7   Last Price              494 non-null    float64
 8   Close Price             494 non-null    float64
 9   Average Price           494 non-null    float64
 10  Total Traded Quantity   494 non-null    int64
 11  Turnover                494 non-null    float64
 12  No. of Trades           494 non-null    int64
 13  Deliverable Qty         494 non-null    int64
 14  % Dly Qt to Traded Qty  494 non-null    float64
dtypes: datetime64[ns](1), float64(9), int64(3), object(2)
memory usage: 61.8+ KB

In [180]:
df.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,4.940000e+02,494.000000
mean,2387.748684,2386.112146,2412.039575,2362.413866,2386.900911,2387.279251,2387.545040,2.154751e+06,4.914692e+09,95827.566802,1.183271e+06,56.849312
std,463.565049,461.347984,470.430776,457.931108,463.288365,463.709942,464.726731,2.579232e+06,6.651663e+09,57134.390316,1.600605e+06,12.114263
min,1721.600000,1723.000000,1734.900000,1711.150000,1723.000000,1721.600000,1725.850000,4.341100e+04,1.120856e+08,2351.000000,1.386900e+04,21.480000
25%,1987.912500,1989.475000,2005.500000,1973.250000,1988.887500,1987.912500,1988.825000,9.365380e+05,2.444368e+09,51852.750000,5.490995e+05,48.020000
50%,2398.575000,2396.925000,2433.000000,2377.650000,2398.100000,2398.575000,2402.990000,1.696750e+06,3.959611e+09,86986.500000,9.150305e+05,56.750000
75%,2638.237500,2635.750000,2669.450000,2619.787500,2638.000000,2638.237500,2641.310000,2.622279e+06,5.725864e+09,125993.250000,1.465679e+06,66.310000
max,3603.700000,3625.000000,3674.800000,3572.550000,3610.750000,3603.700000,3633.110000,4.403358e+07,1.268362e+11,482657.000000,3.155626e+07,85.180000

# data for last 90 days

In [181]:
df_data =df.tail(90)    #last 90 working days
close_mean=df_data["Close Price"].mean()
close_max=df_data["Close Price"].max()
close_min=df_data["Close Price"].min()

print("Mean of Closing Price {:.2f}".format(close_mean))
print("Maximum of Closing Price {:.2f}".format(close_max))
print("Minimum of Closing Price {:.2f}".format(close_min))

Mean of Closing Price 2015.47
Maximum of Closing Price 2260.35
Minimum of Closing Price 1813.25

In [182]:
# Total dataset time
df["Date"].max()-df["Date"].min()

Timedelta('728 days 00:00:00')

In [183]:
trial=df.copy()
trial["vol * closed price"]=trial["Close Price"]*trial["Total Traded Quantity"]

In [184]:
trial=trial.set_index("Date")

## VWAP

In [185]:
# MOnth & year wise VWAP

group_M = trial.groupby(pd.Grouper(freq="M"))

month_vol=list(group_M["Total Traded Quantity"].agg(np.sum))
month_mult=list(group_M["vol * closed price"].agg(np.sum))
month=[]
for i in range(len(month_vol)) :
    month.append(round(month_mult[i]/month_vol[i],2))
    
group_Y = trial.groupby(pd.Grouper(freq="Y"))

year_vol=list(group_Y["Total Traded Quantity"].agg(np.sum))
year_mult=list(group_Y["vol * closed price"].agg(np.sum))
year=[]
for i in range(len(year_vol)) :
    year.append(round(year_mult[i]/year_vol[i],2))

## Average price over last n days

In [188]:
n = int(input(" Enter the value of n : "))
        
def  avg_and_prof(n)     :
        req_df=df.tail(n)

        prof=100*(req_df.iloc[0]["Close Price"]-req_df.iloc[-1]["Close Price"])/req_df.iloc[0]["Close Price"]

        print("Average price over last",n,"days is : {} ".format(round(req_df["Average Price"].mean(),2)))
        if prof >0 :      
            print("Profit : {} %".format(round(prof,2)))
        else :
            print("Loss : {} %".format(round(prof,2)))
        
            
avg_and_prof(n)

 Enter the value of n : 3
Average price over last 3 days is : 2157.56
Profit : 2.02 %

In [189]:
print("1 week :",avg_and_prof(7),".........")
print("2 weeks :\n",avg_and_prof(14))
print("1 month :\n",avg_and_prof(30))
print("3 months :\n",avg_and_prof(90))
print("6 months :\n",avg_and_prof(180))
print("1 year :\n",avg_and_prof(365))

Average price over last 7 days is : 2155.88
Profit : 0.15 %
1 week : None .........
Average price over last 14 days is : 2176.55
Profit : 1.51 %
2 weeks :
 None
Average price over last 30 days is : 2109.88
Loss : -8.17 %
1 month :
 None
Average price over last 90 days is : 2015.28
Loss : -12.45 %
3 months :
 None
Average price over last 180 days is : 2002.59
Loss : -6.25 %
6 months :
 None
Average price over last 365 days is : 2345.44
Profit : 21.37 %
1 year :
 None

In [190]:
df["Day_Perc_Change"]=df["Close Price"].pct_change()
df["Day_Perc_Change"].fillna(0 ,inplace=True)

In [191]:
def trnd(k) :
    if -0.5<=k<=0.5 :
        return "Slight or no change"
    elif 0.5<k<=1 :
        return   "Slight positive"    
    elif -1<=k<-0.5 :
        return "Slight negative"        
    elif 1<=k<=3 :
        return "Positive"
    elif -3<=k<=-1 :
        return "Negative"
    elif 3<=k<=7 :
        return "Among top gainers"
    elif -7<=k<=-3 :
        return "Among top losers"
    elif k>=7 :
        return "Bull run"
    elif k<=-7 :
        return "Bull drop"
    else :
        return np.nan

In [192]:
arr=[trnd(x) for x in list(df["Day_Perc_Change"])]
df["trend"]=arr

In [193]:
grp_02=df.groupby("trend")
grp_02["Total Traded Quantity"].describe()

,count,mean,std,min,25%,50%,75%,max
trend,,,,,,,,
Slight negative,1.0,5.049371e+06,NaN,5049371.0,5049371.0,5049371.0,5049371.0,5049371.0
Slight or no change,493.0,2.148880e+06,2.578545e+06,43411.0,936218.0,1691756.0,2611668.0,44033577.0

In [194]:
df.to_csv("week2.csv")